.wrapper-container .button-container {
  --ant-button-padding-inline: 30px;
  --ant-border-radius: 50px;
  --ant-color-primary-active: white;
  --ant-button-primary-color: black;
  --ant-color-primary: white;
  --ant-color-primary-hover: white;
  --ant-border-color: #000;
  border-top-color: var(--ant-border-color);
  border-right-color: var(--ant-border-color);
  border-bottom-color: var(--ant-border-color);
  border-left-color: var(--ant-border-color);
}
