.wrapper-container .input-container {
  --ant-input-padding-block: 16px;
  --ant-input-padding-inline: 18px;
  --ant-input-border-color: black;
  --ant-input-active-border-color: black;
  --ant-input-hover-border-color: black;
  --ant-input-active-shadow: none;
  --ant-color-border: black;
  --ant-color-text-placeholder: black;
}
