.nameInput {
  display: flex;
  gap: 40px;
}
.nameInput > * {
  flex: 1;
}

.buttonPosition {
  display: flex;
  justify-content: flex-end;
}

.paragraphPosition {
  margin-bottom: 40px;
}

.titlePosition {
  margin-bottom: 10px;
}
